/* Styles */

.container {
  padding:0;
}

/* Logo */
.logo{
  display:block;
  margin:6rem auto 0 auto;
  fill:#FFF;
  height:150px;
  width:100%;
  fill: #fa4db2;
  -webkit-animation: LogoAnimation 5s ease infinite;
  -moz-animation: LogoAnimation 5s ease infinite;
  animation: LogoAnimation 5s ease infinite;
}

@media only screen  and (min-width : 500px) {
  .logo {
    height:200px;
  }
}

@media only screen  and (min-width : 768px) {
  .logo {
    margin-top:25vh;
  }
}

@media only screen  and (min-width : 1441px) {
  .logo {
    margin-top:20vh;
    height:400px;
  }
}

/* Logo Animation */
@-webkit-keyframes LogoAnimation {
    0%{fill:#fa4db2}
    50%{fill:#fa904d}
    100%{fill:#fa4db2}
}
@-moz-keyframes LogoAnimation {
  0%{fill:#fa4db2}
  50%{fill:#fa904d}
  100%{fill:#fa4db2}
}
@keyframes LogoAnimation {
  0%{fill:#fa4db2}
  50%{fill:#fa904d}
  100%{fill:#fa4db2}
}

/* Hero */

.hero {
  height:100vh;
  width:100%;
  background:#FFF;
  position: relative;
}

.hero * {
  color:#666;
}

.hero h1 {
}

.hero .text {
  padding:3rem;
  position: absolute;
  bottom:0;
  left:0;
}

.hero .text span {
  color:#fa4db2;
}

@media only screen  and (min-width : 768px) {

  .hero .text {
    padding-top:6rem;
    position: relative;
    max-width:750px;
    margin:0rem auto;
  }

  #Welcome-To-Infinity .text {
    padding-top:0;
  }

  #Ignition .text {
    padding-left:20rem;
  }

}

.rocket {
  position:absolute;
  bottom:0;
  z-index: 3;
}

.rocket img {
  height:400px;
  display:block;
  margin:auto;
}

.rocket .chemtrail {
  margin:auto;
  background:#EEE;
  width:25px;
  height:75px;
}

.clouds {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height: 350px;
  width:100%;
  z-index: 2;
  background: url('/img/smoke_clouds.png') no-repeat 250px bottom;
  background-size:contain;
  -webkit-animation: CloudLeftIdle 30s linear infinite;
  -moz-animation: CloudLeftIdle 30s linear infinite;
  animation: CloudLeftIdle 30s linear infinite;
}

.clouds-alt {
  z-index:4;
  background: url('/img/smoke_clouds_alt.png') no-repeat -250px bottom;
  background-size:contain;
  -webkit-animation: CloudRightIdle 30s linear infinite;
  -moz-animation: CloudRightIdle 30s linear infinite;
  animation: CloudRightIdle 30s linear infinite;
}

/* Rocket Up Animation */
@-webkit-keyframes RocketUp {
    0%{  height:75px; }
    100%{ height:200vh; }
}
@-moz-keyframes RocketUp {
  0%{  height:75px; }
  100%{ height:200vh; }
}
@keyframes RocketUp {
  0%{  height:75px; }
  100%{ height:200vh; }
}

/* Rocket Up Animation */
@-webkit-keyframes RocketFlightPlan {
    0%{  height:5px; }
    100%{ height:500px; }
}
@-moz-keyframes RocketFlightPlan {
  0%{  height:5px; }
  100%{ height:500px; }
}
@keyframes RocketFlightPlan {
  0%{  height:5px; }
  100%{ height:500px; }
}

/* Rocket Up Animation */
@-webkit-keyframes CloudLeftIdle {
    0%{  background-position: 250px bottom; }
    50%{  background-position: 150px bottom; }
    100%{  background-position: 250px bottom; }
}
@-moz-keyframes CloudLeftIdle {
    0%{  background-position: 250px bottom; }
    50%{  background-position: 150px bottom; }
    100%{  background-position: 250px bottom; }
}
@keyframes CloudLeftIdle {
  0%{  background-position: 250px bottom; }
  50%{  background-position: 150px bottom; }
  100%{  background-position: 250px bottom; }
}

/* Rocket Up Animation */
@-webkit-keyframes CloudRightIdle {
    0%{  background-position: -250px bottom; }
    50%{  background-position: -150px bottom; }
    100%{  background-position: -250px bottom; }
}
@-moz-keyframes CloudRightIdle {
    0%{  background-position: -250px bottom; }
    50%{  background-position: -150px bottom; }
    100%{  background-position: -250px bottom; }
}
@keyframes CloudRightIdle {
  0%{  background-position: -250px bottom; }
  50%{  background-position: -150px bottom; }
  100%{  background-position: -250px bottom; }
}

.rocketUp .chemtrail  {
  -webkit-animation: RocketUp ease 2s;
  -moz-animation: RocketUp ease 2s;
  animation: RocketUp ease 2s;
}

/* Blocks Specific */
#Welcome-To-Infinity  {
}

#Ignition .text {
}

#Ignition .rocket {
  left:33vw;
}

#Flight-Plan .rocket {
  right:33vw;
  bottom:-150px;
  transform:rotate(45deg);
}

#Flight-Plan .rocket .chemtrail {
  height:500px;
  -webkit-animation: RocketFlightPlan  1s;
  -moz-animation: RocketFlightPlan  1s;
  animation: RocketFlightPlan  1s;
}

#Flight-Plan .text {
  padding-right:20rem;
}

#Launch {
  background:#FFF url('http://bigroomstudios.com/assets/images/services/header-bg-infinity-layer-3-b2a1231b.png') no-repeat 150px -50px;
}
