#Flight-Plan {
  background: #bae8fd;
}

#Flight-Plan .text * {
  color:#333;
}

#Flight-Plan .chemtrail {
  background: #FFF;
}

#Flight-Plan .rocket {
  right:33vw;
}

#Flight-Plan .rocket .chemtrail {
  height:400px;
  -webkit-animation: RocketFlightPlan  1s;
  -moz-animation: RocketFlightPlan  1s;
  animation: RocketFlightPlan  1s;
}

#Flight-Plan .text {
  padding-right:20rem;
}
