#Liftoff {
  background: #bae8fd;
}

#Liftoff .text * {
  color:#333;
}

#Liftoff .chemtrail {
  background: #FFF;
}

#Liftoff .rocket {
  right:33vw;
}

#Liftoff .rocket .chemtrail {
  height:400px;
  -webkit-animation: RocketFlightPlan  1s;
  -moz-animation: RocketFlightPlan  1s;
  animation: RocketFlightPlan  1s;
}

#Liftoff .text {
  padding-right:20rem;
}
