#Liftoff {
  background: #bae8fd;
}

#Liftoff .text * {
  color:#333;
}

#Liftoff .chemtrail {
  background: #FFF;
}

#Liftoff .rocket {
  right:33vw;
}

#Liftoff .rocket .chemtrail {
  height:200px;
  -webkit-animation: RocketFlightPlanLg  1s;
  -moz-animation: RocketFlightPlanLg  1s;
  animation: RocketFlightPlanLg  1s;
}

#Liftoff .rocket .chemtrail.takeOff {
  height:200vh;
  -webkit-animation: takeOff  1s;
  -moz-animation: takeOff  1s;
  animation: takeOff  1s;
}

#Liftoff .text {
  padding-right:20rem;
}

/* Take Off for Flight Animation */

@-webkit-keyframes takeOff {
    0%{  height:200px; }
    100%{ height:200vh; }
}

@-moz-keyframes takeOff {
  0%{  height:200px; }
  100%{ height:200vh; }
}

@keyframes takeOff {
  0%{  height:200px; }
  100%{ height:200vh; }
}
