/* Styles */

.container {
  padding:0;
}

/* Logo */
.logo{
  display:block;
  margin:6rem auto 0 auto;
  fill:#FFF;
  height:150px;
  width:100%;
  fill: #fa4db2;
  -webkit-animation: LogoAnimation 5s ease infinite;
  -moz-animation: LogoAnimation 5s ease infinite;
  animation: LogoAnimation 5s ease infinite;
}

@media only screen  and (min-width : 500px) {
  .logo {
    height:200px;
  }
}

@media only screen  and (min-width : 768px) {
  .logo {
    margin-top:25vh;
  }
}

@media only screen  and (min-width : 1441px) {
  .logo {
    margin-top:20vh;
    height:400px;
  }
}

/* Logo Animation */
@-webkit-keyframes LogoAnimation {
    0%{fill:#fa4db2}
    50%{fill:#fa904d}
    100%{fill:#fa4db2}
}
@-moz-keyframes LogoAnimation {
  0%{fill:#fa4db2}
  50%{fill:#fa904d}
  100%{fill:#fa4db2}
}
@keyframes LogoAnimation {
  0%{fill:#fa4db2}
  50%{fill:#fa904d}
  100%{fill:#fa4db2}
}

/* Hero */

.hero {
  height:100vh;
  width:100%;
  background:#FFF;
  position: relative;
}

.hero * {
  color:#666;
}

.hero h1 {
}

.hero .text {
  padding:3rem;
  position: absolute;
  bottom:0;
  left:0;
}

.hero .text span {
  color:#fa4db2;
}

@media only screen  and (min-width : 768px) {

  .hero .text {
    padding-top:6rem;
    position: relative;
    max-width:750px;
    margin:0rem auto;
  }

  #Welcome-To-Infinity .text {
    padding-top:0;
  }

}

.rocket {
  position:absolute;
  bottom:0;
  z-index: 4;
}

.rocket img {
  height:400px;
  display:block;
  margin:auto;
}

.rocket .chemtrail {
  margin:auto;
  background:#EEE;
  width:25px;
  height:75px;
}

.clouds {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height: 350px;
  width:100%;
  z-index: 3;
  background: url('/img/smoke_clouds.png') no-repeat 250px bottom;
  background-size:contain;
}

.clouds-alt {
  z-index:6;
  background: url('/img/smoke_clouds_alt.png') no-repeat -250px bottom;
  background-size:contain;
}

.rocketUp .chemtrail  {
  -webkit-animation: RocketUp ease 2s;
  -moz-animation: RocketUp ease 2s;
  animation: RocketUp ease 2s;
}

.horizon {
  position: fixed;
  top: 45vh;
  left: -33vw;
  right: -33vw;
  bottom: -33vh;
  background: #FFF;
  border-radius: 50%;
  z-index: 3;
}

.planet {
  position: absolute;
  height:300px;
  width:300px;
  right: 10vw;
  top: 25vh;
  z-index: 2;
  background: url('/img/planet.png') no-repeat center;
  background-size:contain;
}

.shoot {
  transform: rotateX( 45deg );
}




#Launch {
  background:#FFF url('http://bigroomstudios.com/assets/images/services/header-bg-infinity-layer-3-b2a1231b.png') no-repeat 150px -50px;
}
