{% extends "global.html" %}

{% block content %}

<div id="Ignition" class="hero">

  <div class="planet animated zoomInUp"></div>

  <div class="horizon animated zoomInUp"></div>

  <div class="rocket animated bounceInLeft">
    <img src="/img/rocket_3.png" />
    <div class="chemtrail"></div>
  </div>

  <div class="cloud-container animated fadeInUp">
    <div class="clouds"></div>
    <div class="clouds clouds-alt"></div>
  </div>

  <div class="container">

    <div class="text animated bounceInUp">

      <h2>Ignition</h2>

      <p>
        Big Room Studios created the Infinity process to help our clients document ideas and create an actionable plan for new technology projects over the course of three weeks.
      </p>

      <p>
        <a class="btn btn-default">Launch</a>
      </p>

    </div>

  </div>

</div>

{% endblock %}
