{% extends "global.html" %}

{% block content %}

<div id="Launch" class="hero">

  <div class="container">

    <div class="text">

      <h2>Launch</h2>

      <p>In this last phase, we combine your Information Architecture, Designs, User Flows and Feature Descriptions with
        a Technical Development Plan, involving a detailed Sprint Schedule with actionable Development Tasks. This final
        <span>Launch Document</span> will also include a proposed <span>project budget and timeline</span>.
      </p>

      <p><a href="contact.html" class="btn btn-default btn-lg">Launch</a></p>

    </div>

  </div>

</div>


{% endblock %}
