{% extends "global.html" %}

{% block content %}

<div id="Liftoff" class="hero">

  <div class="clouds animated fadesInUp"></div>

  <div class="rocket">
    <img src="/img/rocket_3.png" />
    <div class="chemtrail"></div>
  </div>


  <div class="container">

    <div class="text animated bounceInUp">

      <h2>Liftoff</h2>

      <p>During your Infinity, our goal is to give you everything you need to take the first steps into development:
        <ul>
          <li> A detailed Project Plan</li>
          <li> Feature List</li>
          <li> User Stories</li>
          <li> Wireframes</li>
          <li> A full Technical Development Plan</li>
        </ul>
      </p>
      <p>
        <a onclick="" class="btn btn-default">Launch Your Vision</a>
      </p>

    </div>

  </div>

</div>

{% endblock %}
