{% extends "global.html" %}

{% block content %}

<div id="Thankyou" class="hero">
  <div class="container">

    <div class="text">
      <h1 class="animated fadeInDown">Thank you for your inquiry. </h1>
      <h3 class="animated fadeInUp"><i>You're now in orbit!</i></h3>
      <p class="animated fadeInRight">We will get back to you as soon as possible.</p>
    </div>

    <div class="planet-container animated fadeInRight">
      <span id="countdown">10</span>
      <div class="planet">
        <div class="rocket"></div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
