{% extends "global.html" %}

{% block content %}

<div id="Thankyou" class="hero">
  <div class="container">

    <div class="text animated fadeInDown">
      <h1>Thank you for your inquiry.</h1>
      <h3><i>You're now in orbit!</i></h3>
      <p>We will get back to you as soon as possible.</p>
    </div>

    <div class="planet-container animated fadeInRight">
      <span id="countdown">10</span>
      <div class="planet">
        <div class="rocket"></div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
